{% extends "layout.html" %}
{% block content %}
<div class="card">
        <div class="card-header"></div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td align="center"> #</td>
              <td align="center"> Detalle</td>
              <td align="center" > Direccion</td>
              <td align="center"> Opciones</td>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td width="5%"> </td> 
              <td  width="20%" align="center"> </td> 
              <td  width="20%"> </td> 
              <td align="center"><a class="btn btn-warning btn-rounded btn-xs" href=""><i class="material-icons">zoom_in</i> Ver </a>
            </tr>

          </tbody>
        </table>
      </div>
{% endblock %}
